<ion-content class="custom-background">
  <h1>...</h1>

  <p style="color: #fff;"><ion-icon name="logo-octocat"></ion-icon> Personajes: </p>
 
  <ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let p of personajes" (click)="verDetalle(p.Nombre)">
          <ion-card>
            <img [src]="p.Foto" alt="Foto de {{p.Nombre}}" class="colaborador-img">
            <ion-card-header>
              <ion-card-title>{{ p.Nombre }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ p.Personaje }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>


  <p style="color: #fff;"><ion-icon name="shield"></ion-icon> Items:</p>


  <ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let i of items" >
          <ion-card (click)="verDetalleItems(i.nombre)">
            <img [src]="i.foto" alt="Foto de {{i.foto}}" class="colaborador-img">
            <ion-card-header>
              <ion-card-title style="color: #fff;">{{ i.nombre }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ i.accion }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>


<p style="color: #fff;"><ion-icon name="game-controller"></ion-icon> Controles: </p>


  <ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let p of controles" >
          <ion-card>
            <img [src]="p.foto" alt="Foto de {{p.boton}}" class="colaborador-img">
            <ion-card-header>
              <ion-card-title style="color: #fff;">{{ p.boton }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ p.accion }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>

  


</ion-content>
