<ion-content class="custom-background">
    <h1>....</h1>

    <div class="content-wrapper card-animate">

      <p class="fuente_titulo"><!--Logo principal del Juego-->
        <span class="fuente_titulo_primero">Feathered</span>
        <br>
        <span class="fuente_titulo_segundo">Enigma</span>
      </p>
      
      <!--Informacion de la historia obtenida de base de datos-->
      <p class="text"
      *ngFor="let i of historias">
        {{i.Texto}}  
      </p>
    </div>
</ion-content>
  
