<ion-content class="content">
    <h1>....</h1>
    <div class="story-card">
      <h3 class="card-titulo">Title</h3>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis.
      </p>
    </div>
  
    <div class="story-card">
      <h3 class="card-titulo">Title</h3>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis.
      </p>
    </div>
</ion-content>
  
