.content {
    --background: black;
    color: white;
}

  .titulo {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px;
  }

  .story-card {
    background: #3a3a3a;
    border-radius: 12px;
    padding: 15px;
    margin: 10px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .card-titulo {
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 1rem;
  }