<ion-content class="ion-padding custom-background">
  <div class="content-wrapper">
    <ion-img src="../../../assets/img/txt_logo.png" alt="Logo" class="logo"></ion-img>

    
    <p class="story-text">
      La verdad se oculta en la oscuridad.
      <br><br>
      Despiertas entre las sombras y el horror:
      <br>
      <strong>¡Tu familia ha sido asesinada!</strong>
      <br><br>
      Solo queda una pista: <br>¡Tu padre ha desaparecido!
      <br><br>
      Con sed de venganza, te embarcas en un viaje para encontrarlo y
      descubrir la verdad. Pero en <strong>Feathered Enigma</strong>, nada es lo que parece.
    </p>
  </div>

 
</ion-content>


