.icono {
    color: #FFD700; /* Estrellas doradas */
}

.icono2{
    font-size: 2em; /* Tamaño del icono */
    margin-right: 8px; /* Espacio entre el icono y el texto */
}
ion-card-title {
    font-size: 1.4em;
    font-weight: bold;
    color: white;
  }

