<ion-content class="ion-padding custom-background card-animate">
  <div class="content-wrapper">

    <p class="fuente_titulo"><!--Logo principal del Juego-->
      <span class="fuente_titulo_primero">Feathered</span>
      <br>
      <span class="fuente_titulo_segundo">Enigma</span>
    </p>

    <p class="text">¿ESTAS LISTO PARA ENFRENTAR AL VERDADERO CULPABLE?</p>

    <img src="../../../assets/img/dude.png" style="width: 75%;">
 
  </div>

  <ion-card>
    <video width="100%" controls autoplay loop>
      <source src="../../../assets/gif/video_demo.mp4" type="video/mp4">
      Tu navegador no soporta el video.
    </video>
  </ion-card>
  
  <div >
    <p>Reseñas: </p>

    <ion-button expand="full" fill="clear" class="button_resena" href="/form-comentarios">
      Escribir Reseña
    </ion-button>

    <ion-card *ngFor="let r of resena">
      <ion-card-header>
        <ion-card-title>{{ r.usuario }}</ion-card-title>
        <ion-card-subtitle>
          <ion-icon class="icono" *ngFor="let star of [1,2,3,4,5]" 
           name="{{ star <= r.puntuacion ? 'star' : 'star-outline' }}">        
          </ion-icon>
        </ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        {{ r.comentario }}
      </ion-card-content>
    </ion-card>
  </div>


  <ion-footer class="footer-container">
    
    <ion-toolbar class="footer-toolbar"> 
      <ion-grid>
        <ion-row>
          <!-- Información del Juego -->
          <ion-col size="12" class="footer-section">
            <h3><ion-icon name="game-controller" ></ion-icon>
              Sobre el Juego</h3>
            <p>Disfruta de una experiencia única con desafíos y diversión para todas las edades. Conéctate y juega localmente con tus amigos.</p>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <!-- Restricciones -->
          <ion-col size="12" class="footer-section">
            <h3><ion-icon name="warning" ></ion-icon> Restricciones</h3>
            <p>Recomendado para mayores de 10 años. Aplican términos y condiciones.</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <!-- Restricciones -->
          <ion-col size="12" class="footer-section">
            <h3>
              <ion-icon name="primary" ></ion-icon> Visita nuestro sitio oficial</h3>
            <a href="https://featheredenigma.pythonanywhere.com/personajes/" target="_blank"  style="color: rgb(0, 85, 255);">
              <ion-icon name="globe-outline"  class="icono2"></ion-icon>
            </a>
            <br>
          </ion-col>
        </ion-row>
  
  
        <ion-row class="social-row">
          <!-- Redes Sociales -->
          <ion-col size="12" class="footer-section social-icons">
            <h3><ion-icon name="people" ></ion-icon> Síguenos en Redes</h3>
            <a href="https://www.facebook.com" target="_blank" style="color: rgb(0, 85, 255);">
              <ion-icon name="logo-facebook" class="icono2"></ion-icon>
            </a>
            <a href="https://www.twitter.com" target="_blank"  style="color: rgb(0, 85, 255);">
              <ion-icon name="logo-twitter" class="icono2"></ion-icon>
            </a>
            <a href="https://www.instagram.com" target="_blank"  style="color: rgb(0, 85, 255);">
              <ion-icon name="logo-instagram" class="icono2"></ion-icon>
            </a>
            <a href="https://www.youtube.com" target="_blank"  style="color: rgb(0, 85, 255);">
              <ion-icon name="logo-youtube" class="icono2"></ion-icon>
            </a>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <!-- Derechos reservados -->
          <ion-col size="12" class="footer-section">
            <p>&copy; 2025 <strong>Feathered Enigma</strong>. Todos los derechos reservados.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
  
  
</ion-content>


