<ion-content>
    <h1>.....................</h1>

    <ion-card>
        <ion-img class="imagen" src="../../../assets/img/galeria_prueba.jpg" alt="Escenario 1"></ion-img>
    </ion-card>
    
    <ion-card>
        <ion-img class="imagen" src="../../../assets/img/galeria_prueba.jpg" alt="Escenario 1"></ion-img>
    </ion-card>
    
    <ion-card>
        <ion-img class="imagen" src="../../../assets/img/galeria_prueba.jpg" alt="Escenario 1"></ion-img>
    </ion-card>
    
    <ion-card>
        <ion-img class="imagen" src="../../../assets/img/galeria_prueba.jpg" alt="Escenario 1"></ion-img>
    </ion-card>
    
  
  

</ion-content>


