/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

#main {
    padding-top: 50px;
    /* O el valor que desees */
}


@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Aphra';
    /* El nombre que se le da a la fuente */
    src: url('/assets/fonts/font.ttf') format('truetype');
    /* La ruta del archivo de la fuente */
    font-weight: normal;
    font-style: normal;
}

.fuente_titulo {
    font-family: 'Aphra', sans-serif;
    //font-size: 1.2rem;
    font-size: 80px;//tamaño de fuente
}

.fuente_titulo_primero {
    font-family: 'Aphra', sans-serif;
    color: white;
    /* Aplica un color diferente para "Feathered" */
}

.fuente_titulo_segundo {
    font-family: 'Aphra', sans-serif;
    color: yellow;
    /* Aplica color amarillo a "Enigma" */
}

.custom-background {
    --background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    //color: white;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.text {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 90%;
    color: white;
}



/* Activar el modo oscuro de manera predeterminada */
body {
    --background: #121212; /* Color de fondo oscuro */
    --ion-text-color: #fff; /* Color de texto blanco */
    --ion-item-background: #2a2a2a; /* Fondo de los items en modo oscuro */
  }
  
  body.dark {

    --ion-toolbar-background: #333;
    --ion-ion-tab-bar: #333;
    --ion-ion-tab-bar-background: #188182;
   
  }

  ion-tab-bar {
    --background: #2a2a2a; /* Cambia esto al color que desees */
    --color-selected: #ffffff; /* Color de texto para la pestaña seleccionada */
    --color: #b9b1b1; /* Color de texto para las pestañas no seleccionadas */
  }
  