<ion-content class="custom-background">

  <div class="titulo-contenedor">
    <h1 class="titulo">{{ detalleItems.nombre }}</h1>
  </div>

  <!-- Imagen del personaje -->
  <div class="imagen-contenedor">
    <img class="imagen" *ngIf="detalleItems.foto" [src]="detalleItems.foto" alt="Imagen del personaje">
  </div>

  <!-- Ficha de detalles -->
  <ion-card class="detalle-card">
    <ion-card-header>
      <ion-card-subtitle>Información General</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label><strong>Elemento:</strong></ion-label>
        <ion-note slot="end" color="danger" class="negrita" >{{ detalleItems.accion }}</ion-note>
      </ion-item>


      <ion-item>
        <ion-label><strong>Descripcion:</strong></ion-label>
        <ion-note slot="end" style="color: #fff;">{{ detalleItems.descripcion }}</ion-note>
      </ion-item>
      
    </ion-card-content>
  </ion-card>

  <!-- Botón de regreso -->
  <ion-footer no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="regresar()" color="primary">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
          Regresar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
